  <h1><%= @product.name %></h1>

  <h3><%= @product.price %></h3>
  <h3><%= @product.description %></h3>
  
  <h4><a href="/products/<%= @product.id%>/edit">Edit</h4>
  <h4><a href="/products">Back to Products</h4>